@model List<Notifications.Models.Notification>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <ul>
        @foreach (var item in Model)
        {
            <li>
                <span>@item.CreationDate</span>
                <span>@item.Type</span>
                <span>@item.Title</span>
                <span>@item.Description</span>
            </li>
        }
    </ul>
</div>
